@use "../utilities/variables";

footer {
     background-color: variables.$lightgrey;
     color: variables.$black;
     border: 1px solid black;
     font-family: "montserrat";
     font-style: italic;
     font-size: 16px;
     margin-top: 150px;
}