@use "../utilities/variables";

footer {
     background-color: variables.$lightgrey;
     color: variables.$black;
     font-family: "montserrat";
     font-style: italic;
     font-size: 16px;
     margin-top: 300px;
}