
@use "../utilities/variables";

.margin-form {
     margin: 25px;
}

.margin-form-labels {
     margin: 45px;
}

.dropdown-menu {
     font-family:"montserrat";
     background-color: white;
     color: variables.$black;
     border: 2px solid black;
     border-radius: 10%;
}

.custom-dropdown {
     background-color: variables.$black;
     font-family:"montserrat";
     color: white;
     border: none;
}

.dropdown:hover {
     transform: scale(1.1);
     background-color: white;
     color: variables.$black;
}

.animate__fadeIn {
     margin-left: variables.$marginleft;
}

.fig {
     font-family:"montserrat";
     font-style: italic;
}

// @media (max-width: 450px) {
//      p {
//           background-color: aqua;
//           font-size: 10px;

//      }

//      h1 {
//           font-size: 20px;
//      }

//      h2{
//           font-size: 17.5px;
//      }

//      h5{
//           font-size: 15.5px;
//      }
// }