
@use "../utilities/variables";

.margin-form {
     margin: 25px;
}

.margin-form-labels {
     margin: 45px;
}


.animate__fadeIn {
     margin-left: variables.$marginleft;
}

.fig {
     font-family:"montserrat";
     font-style: italic;
}

p.h3 {
     margin-left: 0px;
}


// BUTTONS
.button {
     font-family: "montserrat";
     font-size: 18px;
     border-radius: 10px;
     background-color: variables.$bordo;
     color: white;
}
.btn1 {
     margin: 0px;
     padding: 14px ;
     display: flex;
     align-content: flex-start;
     margin-top: 50px;
}

.btn2 {
     margin: 0px;
     padding: 14px 28px;
     display: flex;
     align-content: flex-start;
     margin-top: 50px;
}

.button:hover {
     transform: scale(1.1);
     background-color: white;
     color: variables.$bordo;
}

// @media (max-width: 450px) {
//      p {
//           background-color: aqua;
//           font-size: 10px;

//      }

//      h1 {
//           font-size: 20px;
//      }

//      h2{
//           font-size: 17.5px;
//      }

//      h5{
//           font-size: 15.5px;
//      }
// }