@use "../utilities/variables";

p {
    color: variables.$black;
     font-family: "Open Sans", sans-serif;
     font-size: variables.$p;
}

h1 {
     color: variables.$grey;
     font-family: "Open Sans", sans-serif;
     font-size: variables.$h1;
}

h2 {
     color: variables.$grey;
     font-family: "Open Sans", sans-serif;
     font-size: variables.$h2;
}

h5 {
     color: variables.$bordo;
     font-family: "Open Sans", sans-serif;
     font-size: variables.$h5;
}


.grid-container {
     // @include mixins.flex(row, start);
     border: 1px solid black;
     display: grid;
     grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 25px;
     
}

.grid-area {
     border: 1px solid black;
     
     grid-template-columns: repeat(1, 1fr);
     grid-template-rows: repeat(1, 1fr);
     gap: 25px;
     justify-content: space-between;
     margin-left: 25px;
     margin-right: 25px;
}

.img {
      grid-area: img;
     justify-self: center;
     align-self: center;
}





