@use "../utilities/variables";

p {
    color: variables.$black;
     font-family: "Montserrat";
     font-size: variables.$p;
     margin: variables.$margin;
}

h1 {
     color: variables.$grey;
     font-family: "Montserrat";
     font-weight: bold;
     font-size: variables.$h1;
     color: variables.$bordo;
      margin: variables.$margin;
}

h2 {
     color: variables.$grey;
     font-family: "MONTSERRAT";
     font-weight: bold;
     font-size: variables.$h2;
     color: variables.$bordo;
     margin: variables.$margin;
}

h5 {
     color: variables.$bordo;
     font-family: "Montserrat";
     font-size: variables.$h5;
     color: variables.$grey;
     margin: variables.$margin;
}


.grid-container {
     display: grid;
     grid-template-rows: 3fr 3fr 3fr;
     gap: 5px;
     grid-template-areas: 
     "fourstep"
     "imgindex"
     "porque";
}

.fourstep {
     grid-area: fourstep;
     margin-top: 35px;
     // background-color:aqua;
}

.imgindex {
     grid-area: imgindex;
     // background-color: burlywood;
     justify-self: center;
     align-self: center;

}

.porque {
     grid-area: porque;
     // background-color: chartreuse;
}


.grid-container2 {
     display: grid;
     grid-template-rows: 0.25fr 2fr;
     grid-template-areas: 
     "texto"
     "horarios";
}

.texto {
     grid-area: texto;
}

.img {
     grid-area: horarios;
     margin: variables.$margin;
}

.grid-container3 {
     display: grid;
     grid-template-rows: 0.5fr 2fr;
     grid-template-areas: 
     "texto"
     "abonos";
}

.texto {
     grid-area: texto;
}

.abonos {
     grid-area: abonos;
     
}

