@use "../utilities/variables";

p {
    color: variables.$black;
     font-family: "Open Sans", sans-serif;
     font-size: variables.$p;
}

h1 {
     color: variables.$grey;
     font-family: "Open Sans", sans-serif;
     font-size: variables.$h1;
}

h2 {
     color: variables.$grey;
     font-family: "Open Sans", sans-serif;
     font-size: variables.$h2;
}

h5 {
     color: variables.$bordo;
     font-family: "Open Sans", sans-serif;
     font-size: variables.$h5;
}


.grid-container {
     // @include mixins.flex(row, start);
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     margin-left: 25px;
     margin-right: 25px;
     margin-top: 50px;
     margin-bottom: 50px;
}

@media (max-width: 450px) {
     p {
          background-color: aqua;
          font-size: 10px;

     }

     h1 {
          font-size: 20px;
     }

     h2{
          font-size: 17.5px;
     }

     h5{
          font-size: 15.5px;
     }
}



